<div class="row" style="background-color: #fff">
    <div class="col-2"></div>
    <div class="col-8">

        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">

                <a class="navbar-brand" href="#"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="d-flex">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                            <li class="nav-item">
                                <a class="nav-link fw-bold" aria-current="page" href="@Url.Action("Index", "Home")">TRANG CHỦ</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link fw-bold dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    ĐIỆN LẠNH
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Lắp đặt điện nước</a></li>
                                    <li><a class="dropdown-item" href="#">Lắp máy bơm nước</a></li>
                                    <li><a class="dropdown-item" href="#">Lắp đồng hồ nước</a></li>
                                    <li><a class="dropdown-item" href="#">Lắp ống nước</a></li>

                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="#">Lắp đồng hồ điện</a></li>
                                    <li><a class="dropdown-item" href="#">Lắp quạt trần</a></li>
                                    <li><a class="dropdown-item" href="#">Sửa điện nước</a></li>
                                    <li><a class="dropdown-item" href="#">Sửa máy bơm nước</a></li>

                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="#">Sửa chữa ống nước</a></li>
                                    <li><a class="dropdown-item" href="#">Sửa chữa điện</a></li>
                                    <li><a class="dropdown-item" href="#">Sửa điện 3 pha</a></li>
                                    <li><a class="dropdown-item" href="#">Dò nước rò rỉ</a></li>

                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="#">Lắp đặt đường điện</a></li>
                                    <li><a class="dropdown-item" href="#">Thợ hàn ống ppr</a></li>
                                    <li><a class="dropdown-item" href="#">Lắp đặt phao bồn nước</a></li>
                                    <li><a class="dropdown-item" href="#">Thông ống nước – bồn cầu nghẹt</a></li>
                                    <li><a class="dropdown-item" href="#">Lắp đặt bồn cầu – Thiết bị nhà vệ sinh</a></li>
                                </ul>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link fw-bold dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    ĐIỆN NƯỚC
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Thợ lặp đặt máy lạnh</a></li>
                                    <li><a class="dropdown-item" href="#">Vệ sinh máy lạnh</a></li>
                                    <li><a class="dropdown-item" href="#">Sửa máy tắm nóng</a></li>
                                    <li><a class="dropdown-item" href="#">Vệ sinh máy giặt</a></li>

                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="#">Thợ lắp đặt máy giặt</a></li>
                                    <li><a class="dropdown-item" href="#">Sửa chữa máy giặt</a></li>
                                    <li><a class="dropdown-item" href="#">Sửa chữa tủ lạnh</a></li>
                                    <li><a class="dropdown-item" href="#">Thợ sửa chữa máy lạnh</a></li>

                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="#">Thợ lắp đặt máy tắm nóng</a></li>
                                </ul>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link fw-bold dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    VỆ SINH
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Vệ sinh bể nước ngầm</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="#">Dịch Vụ Vệ Sinh Bồn Nước</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="#">Dịch Vụ Vệ Sinh Hồ Nước</a></li>
                                </ul>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link fw-bold dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    XÂY DỰNG
                                </a>
                                <ul class="dropdown-menu">

                                    <li><a class="dropdown-item" href="#">Thợ chống thấm</a></li>

                                </ul>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link fw-bold dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="true">
                                    LIÊN HỆ
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">CÔNG TY THỢ VIỆT</a></li>
                                    <li><a class="dropdown-item" href="#">Chính Sách Phục Vụ Khách Hàng</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link fw-bold dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="true">
                                    Admin
                                </a>
                                <ul class="dropdown-menu">                                 
                                    <li><a href="@Url.Action("Index","Services")">Quản lý bài đăng dịch vụ</a></li>
                                    <li><a href="@Url.Action("Index","Admin")">Quản lý thông tin Admin</a></li>
                                    <li><a href="@Url.Action("Index","Orders")">Quản lý thông tin đơn đặt hàng</a></li>
                                    <li><a href="@Url.Action("Index","Comment")">Quản lý nội dung đánh giá</a></li>
                                    <li><a href="@Url.Action("Index","Users")">Quản lý thông tin users</a></li>
                                </ul>
                            </li>
                        </ul>
                        <form class="d-flex" role="search">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                    </div>
                </div>

            </div>
        </nav>

    </div>
    <div class="col-2"></div>
</div>
